// Файл обнуляющих стилей
@import "nullstyle.scss";

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>================================================================================
@import "mixins.scss";
@import "ui.scss";
@import "header.scss";
@import "footer.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>================================================================================

body {
   background-color: #181822;
}

//===============================================================================================================================
.live-drop {
   padding: 25px 0 0 0;
   background-color: #1B212F;
   @include flexbox();
   &__section {
   }

   &__best {
      color: #fff;
      font-size: 20px;
      line-height: 23px;
      background-color: #181822;
      padding: 18px 20px 19px 30px;
      position: relative;
      border-radius: 0 0 20px 0;
      white-space: nowrap;
      margin: 0px 0px 1px 0px;
      &:before {
         content: '';
         position: absolute;
         width: 6px;
         height: 6px;
         background-color: #FB136E;
         border-radius: 50%;
         box-shadow: 0 0 10px #FB136E;
         top: 50%;
         left: 13px;
         margin: -3px 0px 0px 0px;
      }
      &:hover {
         background-color: #181822;
      }
   }

   &__online {
      color: #fff;
      font-size: 20px;
      line-height: 23px;
      padding: 18px 20px 18px 30px;
      position: relative;
      border-radius: 0 20px 0 0;
      white-space: nowrap;
      &:before {
         content: '';
         position: absolute;
         width: 6px;
         height: 6px;
         background-color: #0F7EB1;
         border-radius: 50%;
         box-shadow: 0 0 10px #0F7EB1;
         top: 50%;
         left: 13px;
         margin: -3px 0px 0px 0px;
      }
      &:hover {
         background-color: #181822;
      }
   }

   &__items {
      @include flexbox();
      flex-wrap: nowrap;
   }

   &__item {
      margin: 0px 3px 0px 0px;
   }
}
.item {
   padding: 16px 50px;
   border-radius: 7px;
   text-align: center;
   max-height: 120px;
   white-space: nowrap;
   &_purple {
      background: linear-gradient(#302249, #30224900 110%);
   }
   &_pink {
      background: linear-gradient(#59243A, #59243A00 110%);
   }
   &_grey {
      background: linear-gradient(#52545A, #52545A00 110%);
   }
   &_red {
      background: linear-gradient(#612628, #61262800 110%);
   }
   &_blue{
      background: linear-gradient(#305667, #30566700 110%);
   }
   &__image {
   }

   &__title {
      color: #fff;
      font-size: 14px;
      line-height: 16px;
   }

   &__subtitle {
      font-size: 11px;
      line-height: 13px;
      color: #545967;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.64); 
   }
}
//===============================================================================================================================
.popular {
   padding: 80px 0px 0px 0px;
   &__head {
      margin: 0px 0px 50px 0px;
   }

   &__cases {
   }
}
.head {
   text-transform: uppercase;
   text-align: center;
   &__icon {
      filter: invert(21%) sepia(96%) saturate(6221%) hue-rotate(329deg) brightness(100%) contrast(98%);
   }

   &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 37px;
      background: linear-gradient(#FA136D 3.33%, #813E73 72.73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 0px 4px 25px rgba(252, 13, 106, 0.34);
      margin: 0px 0px 4px 0px;
   }

   &__subtitle {
      color: #fff;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
   }
}
.cases {
   @include flexbox();
   flex-wrap: wrap;
   text-align: center;
   &__case {
      margin: 0px 0px 50px 0px;
   }
}
.case {
   flex: 0 0 25%;
   &__logo {
      margin: 0px 0px 20px 0px;
   }

   &__title {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
   }
}

.default {
   padding: 40px 0px 0px 0px;
}
//===============================================================================================================================